:root{
    --text-color: #4c6986;
    --board-tile-border: #a1afb9;
    --header-border-bottom: rgb(228, 227, 227);
    --board-tile-hover: #eee;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: rgb(103, 252, 168);
    color: rgb(82, 140, 184);
}

body{
    font-family: "Merriweather Sans", sans-serif;
    color: var(--text-color);
}


/* Main container of the entire page i.e. The Left and Right Both */
.container{
    /*border: 2px solid red;*/
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* Left Part */
.title{
    font-size: 2.5rem;
}

.restart{
    border: 2px solid var(--text-color);
    border-radius: 50px;
    margin-top: 5%;
    height: 5rem;
    width: 15rem;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.restart:hover{
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
}


/* Game Section Begins Here */
.game{
    /* border: 2px solid green; */
    width: 400px;
    height: 400px;
}

.header{
    display: flex;
    color: #9A9A9A;
    font-size: 1.5rem;
}

.header .player-x{
    flex: 1;
    border-bottom: 5px solid var(--header-border-bottom);
    padding-bottom: 8px;
}

.header .player-o{
    flex: 1;
    border-bottom: 5px solid var(--header-border-bottom);
    padding-bottom: 8px;
}



.board{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 0px;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}

.board .board-tile{
    width: 100%;
    height: 100%;
    /* height: calc(100px * .9); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--board-tile-border);
    /* font-size: 5rem; */
}

.tile-text{
    font-size: 5rem;
}

.board .board-tile:hover{
    background-color: var(--board-tile-hover);
    /* color: white; */
    cursor: pointer;
}

.board .board-tile:first-child,
.board-tile:nth-child(2),
.board-tile:nth-child(3){
    border-top: none;
}

.board .board-tile:nth-child(3n){
    border-right: none;
}
/* Line 97 to 99 can also be written as Line 100 to 103 */
/* .board-tile:nth-child(3n + 3){
    border-right: none;
} */

.board .board-tile:nth-child(3n + 1){
    border-left: none;
}

.board .board-tile:last-child,
.board .board-tile:nth-child(8),
.board .board-tile:nth-child(7){
    border-bottom: none;
}

.author{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
.author-credit{
    font-size: 1.5rem;
    color: #9A9A9A;
}
